$gray: rgba(90,91,92,1);

.container-contact{
    padding: 0 160px;
    @media (max-width: 1100px) { 
        padding: 0 50px;
    } 
}
.wrapper{
    display: flex;
    justify-content: center; 
    flex-direction: column; 
}

.wrapper__title_new{
    margin-top: 80px;
    text-align: center;
    width: 100%;
}
.wrapper__email{
    flex-direction: column;
    margin-top: 54px;
    padding-bottom: 32px;
}
.wrapper__email_icon{
    display: flex;
    justify-content: center;
    margin-top: 28px;
    transform: translateY(4px);
}
.wrapper__email_icon img{
    width: 67px;
    height: 15px;
}
.wrapper__email_contact{
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin: 0 auto;
    margin-top: 16px;
    @media (max-width: 1100px) { 
        width: 85%;
    } 
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
}
.wrapper__email_address{
    margin: 0 auto;
    margin-top: 54px;
    text-align: center
}
.wrapper__email_address img{
    width: 35px;
    height: 28px;
} 
.wrapper__email_address-text{
    margin-top: 12px;
}
.wrapper__email_address-text p{
    line-height: 22px;
}
p{margin: 0;}

.body_1{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: $gray;
}
.body_2{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $gray;
}