$grey: rgba(96,94,92,1);
$darkGray: rgba(33,35,34,1);
$milk: rgba(227,227,227,1);
$white: rgba(241,241,241,1);


.container-footer{
    padding: 0 56px;
    @media(max-width: 767px) {
        padding: 0 55px;
    }
}

.footer{
    background-color: $darkGray;
    display: flex;
    flex-direction: column;
    padding: 55px 0 24px 0;
    overflow: hidden;
}
.footer__columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media(max-width: 767px) {
        flex-direction: column;
    }
}
.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start!important;
    width: 100%;
    padding-right: 10px;
    @media(max-width: 767px) {
        padding-right: 0px;
        padding-bottom: 24px;
    }
    @media(min-width: 1500px) {
        padding-right: 40px;
        padding-bottom: 24px;
    }
}
.footer__column-title{
    padding-bottom: 16px;
    color: $white;
    @media(max-width: 767px) {
        padding-bottom: 8;
    }
}
.footer__column-item{
    margin-bottom: 8px;
    color: $white;
}
.email-input {
    background: transparent; 
    border: none; 
    border-bottom: 2px solid $milk; 
    padding: 10px; 
    font-size: 16px; 
    width: 250px; 
    outline: none; 
    position: relative; 
}

.email-input:focus {
    border-color: #007bff; 
}
.email-input::placeholder {
    color: $milk; 
    opacity: 1; 
}
.footer__column_form{
    position: relative;
}

.footer__column_form::after {
    content: ""; 
    position: absolute;
    right: 11.5px; 
    top: 50%;
    transform: translateY(-50%) rotate(45deg); 
    z-index: 10;
    width: 10px;
    height: 10px;
    border-top: 1.5px $milk solid;
    border-right: 1.5px $milk solid;
}

.footer__column-icons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 26px;
}
.footer__column-icon{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
.footer__column-icon img{
    width: 100%;
    height: 100%;
}
.footer__down{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    @media(max-width: 767px) {
        flex-direction: row;
    }
}

.footer__down_logo{
    width: 224px;
    height: 64.74px;
    margin: 56px auto 0 auto;
    @media(max-width: 767px) {
        width: 66px;
        height: 66px;
        margin: 0;
    }
}
.footer__down_text{
    color: $milk;
    text-align: center;
    @media(max-width: 767px) {
        padding: 15px 16px;
    }
}
.footer__cubes{
    display: flex;
    justify-content: space-between;
}
.footer__cube_left,
.footer__cube_right {
    position: relative;
    width: 0;
    height: 0;
    overflow: visible; 
    display: block!important;
}

.footer__cube_left {
    @media(max-width: 767px) {
        display: none;
    }
    &::before{
       content: "";
        top: -68px;
        left: 103px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $grey;
        position: absolute; 
    }
    &::after{
        content: "";
        top: -15px;
        left: -11px;
        border-top: 2px $grey solid;
        border-left: 2px $grey solid;
        transform: rotate(45deg);
        width: 240px;
        height: 240px;
        position: absolute; 
    }
    
}

.footer__cube_right {
    &::before{
       content: "";
        top: -142px;
        left: -65px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $grey;
        position: absolute; 
        @media(max-width: 767px) {
            top: -471px;
            left: -129px;
        }
    }
    &::after{
        content: "";
        top: -138px;
        left: -58px;
        border-top: 2px $grey solid;
        border-left: 2px $grey solid;
        width: 240px;
        height: 240px;
        position: absolute; 
        @media(max-width: 767px) {
            top: -605px;
            left: -67px;
            transform: rotate(-45deg);
            width: 280px;
            height: 280px;
        }
    }
    
}
.p2__footer{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.footer__content-top{
    display: none;
}
div:empty{
    display: block;
}