$darkgray: rgba(33,35,34,1);
$gray: rgba(96,94,92,1);
$white: rgba(250,250,248,1);
$lightgray: rgba(227,227,227,1);
*{
    box-sizing: border-box;
}

.header-navigation{
    background-color: $lightgray;
    &:hover{
        background-color: $white;
    }
    @media(max-width: 767px) {
        background-color: $white; 
        &:hover{
            pointer-events: none;
        }
    }
}
.navigation { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
    &:hover .navigation__logo{
        display: none;
        @media(max-width: 767px) {
            display: block;
        }
    }
}

.navigation:hover .navigation__logo_background{
    z-index: 1;
    @media(max-width: 767px) {
        display: none;
    }
}
.navigation__logo_background{
    position: absolute;
    width: 264px;
    height: 66px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    z-index: -10;
    @media(max-width: 350px) {
        width: 211px;
        height: 53px;
    }
}
.navigation__logo{
    position: absolute;
    width: 264px;
    height: 66px;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @media(max-width: 350px) {
        width: 211px;
        height: 53px;
    }
}
.navigation__logo_img{
    width: 100%;
    height: 100%;
}
.navigation_left{
    display: flex;
    flex-direction: row;
    padding-top: 23px;
    padding-bottom: 23px;
    max-width: 45%;
    flex-wrap: wrap;
    align-items: center;
    
    @media(min-width: 767px) {
        max-width: 30%;
    }
    @media(min-width: 980px) {
        max-width: 35%;
    }
    @media(min-width: 1300px) {
        max-width: 40%;
    }
    @media(min-width: 2900px) {
        max-width: 45%;
    }
   

}
.navigation_left__point{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px 6px 12px;
    margin-right: 8px;
    &:hover{
        border-bottom: 2px black solid;
    }
    &:active{
        font-weight: bold;
    }
}
.navigation_left_icon{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 16px;
    height: 100%;
}
.navigation_left_icon a{
    display: flex;
    align-items: center;
}
.navigation_left_icon_img{
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1000;
}
.navigation_left_icon-2{
    width: 100%;
    height: 100%;
}
.navigation_right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-width: 45%;
    flex-wrap: wrap;
    
    @media(min-width: 767px) {
        max-width: 30%;
    }
    @media(min-width: 980px) {
        max-width: 35%;
    }
    @media(min-width: 1300px) {
        max-width: 40%;
    }
    @media(min-width: 2900px) {
        max-width: 45%;
    }
}

.navigation_right__point{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
}
.navigation_right__point_img{
    width: 24px;
    height: 24px;
    margin-left: 40px;
    @media(max-width: 767px) {
        margin-left: 16px;
    }
}
.dropdown {
    position: relative;
    text-decoration: none;
    &:hover{
        border-bottom: 2px black solid;
    }
    
}

.dropdown__checkbox, input[type=checkbox] {
    display: none;
}

.dropdown__label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 6px 0px 6px 12px;
    margin-right: 35px;
    &:active{
        font-weight: bold;
    }

}


.dropdown__label::before,
.dropdown__label::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 1px;
    height: 10.6px;
    transition: transform 0.3s ease;
}

.dropdown__label::before {
    top: 50%;
    left: calc(100% + 13px);
    transform: translate(-50%, -50%) rotate(-45deg); 
}

.dropdown__label::after {
    top: 50%;
    left: calc(100% + 20px);
    transform: translate(-50%, -50%) rotate(45deg); 
}


.dropdown__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    z-index: 1000;
    width: 200px;
    background-color: lightgray;
}

.dropdown__list li a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown__list li a:hover {
    background-color: #f0f0f0;
}


.dropdown__checkbox:checked + .dropdown__label + .dropdown__list {
    display: block;
}

.dropdown__checkbox:checked + .dropdown__label::before {
    transform: translate(-50%, -50%) rotate(-135deg); 
}

.dropdown__checkbox:checked + .dropdown__label::after {
    transform: translate(-50%, -50%) rotate(135deg); 
}


.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.burger-menu.active {
    display: flex;
    position: absolute;
    left: -400px; 
    top: 50%;
    transform: translateY(-50%);
    animation: slideIn 1s ease-in-out forwards;

}

.burger-menu__content {
    font-size: 24px;
    text-align: center;
}


.burger-menu__close {
    display: block;
    position: absolute;
    top: 50px;
    right: 40px;
    background: transparent;
    border: 1px white solid;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@keyframes slideIn {
    0% {
      left: -400px; 
    }
    50% {
      left: 0px; 
    }
    75% {
      left: -40px; 
    }
    100% {
      left: 0; 
    }
  }
