$darkgray: rgba(33,35,34,1);
$gray: rgba(96,94,92,1);
$white: rgba(250,250,248,1);
$lightgray: rgba(227,227,227,1);
$line: rgba(227,219,207,1);

.sweep{
    width: 100%;
}
.sweep__header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 24px;
    border-bottom: 1px solid $line;
    @media (max-width: 767px) { 
        flex-direction: column;
        border-bottom: none;
    } 
    &::before{
        display: block; 
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            top: 100%; 
            left: 0;
            border-radius: 50%;
            background-color: $line;
            transform: translateY(-50%);
        @media (max-width: 767px) {
            display: none;
        }}
    &::after{
        display: block; 
            content: "";
            position: absolute;
            border-right: 1px solid $line;
            border-top: 1px solid $line;
            width: 11px;
            height: 11px;
            top: 100%;
            right: 2px;
            transform: translateY(-50%) rotate(45deg); 
        
        @media (max-width: 767px) { 
            display: none;
        }
    }
}


.sweep-title{
    width: 52%;
    display: flex;
    justify-content: left;
    @media (max-width: 767px) { 
        flex-direction: column;
        width: 100%;
        justify-content: center;
    } 
}
.sweep-options{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-right: auto;
    @media (max-width: 767px) { 
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid $line;
    } 
    &::before{
        display: none;
        @media (max-width: 767px) {
            display: block; 
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            top: 100%; 
            left: 0;
            border-radius: 50%;
            background-color: $line;
            transform: translateY(-50%);
        }}
    &::after{
        display: none;
        @media (max-width: 767px) { 
            display: block; 
            content: "";
            position: absolute;
            border-right: 1px solid $line;
            border-top: 1px solid $line;
            width: 10.6px;
            height: 10.6px;
            top: 100%;
            right: 0;
            transform: translateY(-50%) rotate(45deg); 
        }
    }
    
}
.sweep-option{
    display: flex;
    padding: 15px 16px;
    margin: 0 20px;
    color: black;
    border-bottom: 1px solid transparent;
    &:hover{
        border-bottom: 1px solid black;
    }
}
.active {
    border-bottom: 1px black solid;
}
.sweep__slider{
    width: 100%;
}
.sweep__slider-photo_1{
    position: relative;
}
.sweep__slider-photo_1--title{
    position: absolute;
    right: 0;
    top: 46px;
    width: 249px;
    height: 61px;
    z-index: 10;
    @media (max-width: 767px) { 
        width: 71px;
        height: 46px;
        top: 33px;
        left: 62px;
    }
}
.sweep__slider-photo_1--title img{
    width: 100%; 
    height: 100%;
}
.sweep__slider-photo_2{
    position: relative;
    clip-path: inset(0 0 0 100%);
}
.sweep__slider-photo_2--title{
    position: absolute;
    left: 22px;
    top: 46px;
    width: 90px;
    word-wrap: break-word;
    z-index: 10;
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $darkgray;
    @media (max-width: 767px) { 
        left: 3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}
.sweep__slider-photo_1--image, .sweep__slider-photo_2--image{
    width: 100%;
}
.sweep__slider-photo_1--image img{
    width: 100%;
    object-fit: contain;
}
.sweep__slider-photo_2--image img{
    width: 100%;
    object-fit: contain;
}

.sweep__slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .sweep__slider-photo_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .sweep__slider-photo_1--image img,
  .sweep__slider-photo_2--image img {
    width: 100%;
    height: 100%;
    user-select: none;
  }
  
  .sweep__slider-photo_1 {
    z-index: 1; 
  }
  
  .sweep__slider-photo_2 {
    z-index: 2; 
    clip-path: inset(0 12% 0 0);
    @media (max-width: 767px) { 
        clip-path: inset(0 8% 0 0);
    }
  }
  
  .controller {
    position: absolute;
    top: 4px;
    left: 92%; 
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background-color: black;
    cursor: ew-resize;
    z-index: 3;
  }
.controller-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 84px;
    height: 84px;
    border-radius: 50%; 
    border: 1.5px $gray solid;
    background-color: $white; 
    z-index: 4; 
    &::before{
        content: "";
        position: absolute;
        border-right: 1px solid $darkgray;
        border-top: 1px solid $darkgray;
        width: 10px;
        height: 10px;
        top: 50%;
        left: 35%;
        transform: translateY(-50%) rotate(225deg);
    }
    &::after{
        content: "";
        position: absolute;
        border-right: 1px solid $darkgray;
        border-top: 1px solid $darkgray;
        width: 10px;
        height: 10px;
        top: 50%;
        right: 35%;
        transform: translateY(-50%) rotate(45deg); 
    }
}
