<link rel="stylesheet" href="{{ 'properties.min.css' | asset_url }}" type="text/css" />

<section class="properties-section">
    <div class="properties container">
        {% for block in section.blocks %}
            <div class="properties__block">
                <a href="" class="properties__block--picture">
                    <img src="{{ block.settings.properties_image | img_url: 'master' }}" alt="">
                </a>
                <div class="properties__block--title p2">{{ block.settings.properties_title }}</div>
            </div>
        {% endfor %}
    </div>




</section>

{% schema %}
    {
      "name": "Properties",
      "blocks": [
        {
          "type": "slide",
          "name": "Property",
          "settings": [
            {
            "type": "image_picker",
            "id": "properties_image",
            "label": "Property Image"
            },
            {
            "type": "text",
            "id": "properties_title",
            "label": "Property Title",
            "default": "Default Text"
            }

          ]
        }
      ],
      "presets": [
        {
          "name": "Properties",
          "category": "Custom sections"
        }
      ]
    }
    {% endschema %} 